body {
    background: white;

}
 
#About-me {
    background-color:rgb(70, 68, 68);
    position:absolute;
    bottom: 0;
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-indent: 50px;
    padding-left: 20px;
    padding-right: 20px;
    color:white;
    border-color:deepskyblue;
    border-style:solid;
    border-width:5px;
    
}
h3 {
    text-align: center;
    color:deepskyblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#intro img {
    display: block;
    margin: auto;
}